#process-container {
  border: 1px solid #000;
  height: 400px;
  width: 1200px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#process-container > div {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px 10px;
}
