#process-container {
  border: 1px solid #000;
  height: 400px;
  width: 752px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#process-container > div {
  margin-left: 20px;
}
